.message__success {
    background-color: #caf8e8;
    font-size: 18px;
    color: #2f5e4e;
    margin: 20px auto 0 auto;
    width: 95%;
    max-width: 1360px;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.message__error {
    background-color: #f8d3ca;
    font-size: 18px;
    color: #951b12;
    margin: 20px auto 0 auto;
    width: 95%;
    max-width: 1360px;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.message__info {
    background-color: #cae2f8;
    font-size: 18px;
    color: #194e86;
    margin: 20px auto 0 auto;
    width: 95%;
    max-width: 1360px;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}

.profile__container {
    margin: 0 auto;
    width: 95%;
    max-width: 1360px;
    text-align: center;
}

.profile__heading {
    margin-top: 60px;
    margin-bottom: 50px;
}

.profile__heading h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.profile__form{
    margin-bottom: 80px;
}

.profile__form form {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}

.profile-form__group {
    margin-bottom: 60px;
}
.profile-form__group--content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-form__group:nth-of-type(5) {
    margin-bottom: 110px;
}
.profile-image-preview{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.profile-form__group:nth-of-type(1) .profile-form__group--content{
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.profile-form__input[type="file"]{
    display: none;
}
.profile-form__label--image{
    display: inline-block;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 700;
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.profile-form__label {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.profile-form__input {
    height: 60px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 20px;
}

.profile-form__button {
    margin-bottom: 40px;
}

.profile-form__button-submit {
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    background-color: #ff5555;
    border: none;
    border-radius: 5px;
    padding: 16px 0;
    cursor: pointer;
}
.profile-form__error{
    color: #ff0000;
    text-align: left;
    font-size: 18px;
}

@media(max-width: 959px) {
    .profile__form {
        margin-bottom: 120px;
    }
}
