.purchase__content{
    width: 95%;
    max-width: 1360px;
    margin: 90px auto;
}
.purchase__inner-f{
    display: flex;
    justify-content: space-between;
}
.purchase__left{
    width: 60%;
}
.purchase__section--item{
    border-bottom: 1px solid #000;
    display: flex;
    gap: 8vw;
    padding-bottom: 50px;
}
.item__image{
    width: 180px;
    height: 180px;
}
.item__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item__name h2{
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 30px;
}
.item__price p{
    padding: 0;
    margin: 0;
    font-size: 27px;
}
.item__price span{
    font-size: 32px;
}
.purchase__section--paymentMethod, .purchase__section--address{
    border-bottom: 1px solid #000;
    padding: 24px 35px 60px 35px;
}
.payment__hading{
    margin-bottom: 35px;
}
.payment__hading h3, .purchase__section--address h3{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.payment__select{
    margin-left: 60px;
    width: 265px;
    height: 30px;
    position: relative;
}
.payment__select select{
    width: 100%;
    height: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    font-weight: 700;
    color: #5f5f5f;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
}
.triangle {
    background-color: #5f5f5f;
    height: 12px;
    width: 12px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.address__heading-flex{
    display: flex;
    justify-content: space-between;
}
.address__link--edit a{
    font-size: 20px;
    text-decoration: none;
    color: #0073cc;
}
.address__text{
    margin-top: 40px;
    margin-left: 60px;
}
.address__text p{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
}
.purchase__right{
    width: 30%;
}
.price-payment-box{
    border: 1px solid #000;
    overflow: hidden;
}
.price-payment-box table{
    width: 100%;
}
.box__label, .box__value{
    width: 50%;
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
}
.box__value{
    font-size: 24px;
}
.box__value--yen{
    font-size: 20px;
}
.box__row{
    border-bottom: 1px solid #000;
}
.box__row:last-child{
    border-bottom: none;
}
.purchase-form{
    margin-top: 66px;
}
.purchase-form form{
    width: 100%;
}
.purchase-form__btn{
    width: 100%;
    border: none;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    background-color: #ff5555;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 959px) {
    .purchase__inner-f {
        flex-direction: column;
        gap: 60px;
    }
    .purchase__left {
        width: 100%;
    }
    .purchase__right {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .item__image {
        width: 160px;
        height: 160px;
    }
    .item__name h2 {
        font-size: 24px;
    }
    .item__price p {
        font-size: 20px;
    }

    .item__price span {
        font-size: 28px;
    }
    .payment__select {
        width: 80%;
    }
    .address__link--edit a {
        font-size: 16px;
    }
    .address__text p {
        font-size: 16px;
    }
    .box__label,
    .box__value {
        font-size: 18px;
    }
    .purchase-form__btn {
        font-size: 20px;
    }
}
